# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        pip install flake8 pytest pytest-cov coverage coveralls
    - name: Run tests
      run: |
        coverage run -m pytest test/ --durations=10 --ignore=test/reference_files_test.py --ignore=test/prior_test.py
        coverage lcov
    - name: Archive production artifacts
      uses: actions/upload-artifact@v3
      with:
        name: dist-without-markdown
        path: |
          .
#    - name: Archive code coverage results
#      uses: actions/upload-artifact@v3
#      with:
#        name: code-coverage-report
#        path: output/test/code-coverage.html

#    - name: Coveralls GitHub Action
#      uses: coverallsapp/github-action@1.1.3
#      run: coveralls --service=github
#      with:
#        github-token: ${{ secrets.github_token }}
#    - name: Lint with flake8
#      run: |
#         stop the build if there are Python syntax errors or undefined names
#        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
#         exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
#        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
#    - name: Test with pytest
#      run: |
#        pytest
#        coverage run -m pytest
#        coverage html
