# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Free Disk Space
      run: |
        echo "Disk space before cleanup:"
        df -h
        sudo rm -rf /usr/share/dotnet
        sudo rm -rf /usr/local/lib/android
        sudo rm -rf /opt/ghc
        sudo rm -rf /opt/hostedtoolcache/CodeQL
        sudo docker image prune --all --force
        echo "Disk space after cleanup:"
        df -h
    - name: Set up Python 3.11
      uses: actions/setup-python@v4
      with:
        python-version: 3.11
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt install texlive-latex-extra
        sudo apt-get install dvipng texlive-latex-extra texlive-fonts-recommended cm-super
        sudo apt-get clean
        sudo rm -rf /var/lib/apt/lists/*
        python -m pip install --upgrade pip
        pip install --no-cache-dir flake8 pytest
        if [ -f requirements.txt ]; then pip install --no-cache-dir -r requirements.txt; fi
        if [ -f optional_requirements.txt ]; then pip install --no-cache-dir -r optional_requirements.txt; fi
        pip install --no-cache-dir flake8 pytest pytest-cov coverage coverage-badge coveralls
    - name: Run tests
      run: |
        coverage run -m pytest test/model_test.py